<% include ./partials/header %>
<style>
h2{
    text-align: center;
}
</style>
<div class="jumbotron">
    <h2>DIRECCIÓN GENERAL DE PREVENCIÓN Y PROTECCIÓN CIVIL
        DIRECCIÓN DE ANÁLISIS Y PREVENCIÓN DE RIESGOS
        BITÁCORA DE SEGUIMIENTO DEL CENTRO DE ANÁLISIS,
        ATENCIÓN Y GESTIÓN DE RIESGOS A INCIDENTES EN EL CAMPUS
        UNIVERSITARIO
    </h2>
</div>

<% include ./partials/footer %>